<div class = "detail-section">
    <div *ngIf="currProduct" class = "container-fluid">
        
        <img src = "{{ currProduct.imageUrl }}" class = "detail-img">

        

        <h3 >{{ currProduct.name }}</h3>
        <div class="price">{{ currProduct.unitPrice | currency : 'USD' }}</div>
        <button (click)="addToCart(currProduct)" class="btn btn-primary btn-sm">Add to cart</button>
        
        
        <hr>
        <h4>Description</h4>
        <p>{{ currProduct.description }}</p>
        <a routerLink = "/products" class = "mt-5">Back to Product list</a>

        
    </div>
</div>


