<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/digimart_l.png" alt="Digimart" class="img-responsive">
      </a>
    </div>
    
    <!-- selector for menu component -->
    <app-product-category-menu></app-product-category-menu>

  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <!-- component for search bar -->
            <app-search></app-search>

            <!-- component for login status -->
            <app-login-status></app-login-status>

            <!-- component for cart-status -->
            <app-cart-status></app-cart-status>

            
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->



    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>  
    <!-- handles rendering of all components defined in routes array at any point of time in the application. This is colloective for all selectors tags of all components defined in routes array. -->

  </div>

</div>


<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>