<div class = "main-content">
    <div class = "section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>
            <div *ngIf="orderHistoryList.length > 0">
                <table class = "table table-bordered">
                    <tr>
                        <th width = "20%" scope="col">Order Tracking Number</th>
                        <th width="10%" scope="col">Total Price</th>
                        <th width="10%" scope="col">Total Quantity</th>
                        <th width="10%" scope="col">Date</th>
                    </tr>

                    <tr *ngFor = "let tempOrderHistory of orderHistoryList">
                        <td>
                            {{tempOrderHistory.orderTrackingNumber}}
                        </td>
                        <td>
                            {{tempOrderHistory.totalPrice - tempOrderHistory.totalQuantity * 0.01 | currency : 'USD'}}
                        </td>
                        <td>
                            {{tempOrderHistory.totalQuantity}}
                        </td>
                        <td>
                            {{tempOrderHistory.dateCreated | date : 'medium'}}
                        </td>

                    </tr>
                </table>
            </div>

            <!-- if orderHistoryList is empty, ie there are no previous orders corresponding to current customers -->
             <div *ngIf = "orderHistoryList.length == 0" class = "alert alert-warning col-md-12" role = "alert">
                No orders found.
             </div>
        </div>
    </div>
</div>





