<div class = "main-content page-m">
    <div class = "section-content section-content-p30">
        <div class = "container-fluid">
            <form [formGroup] = "checkoutFormGroup" (ngSubmit) = "onSubmitForm()">   
            <!-- this checkoutFormGroup corresponds to the instance checkoutFormGroup : FormGroup that we created in checkout-component.ts file -->

                <!-- customer form group -->
                <div formGroupName = "customer" class = "form-area">
                    <h3>Customer</h3> 
                    <!-- corresponds to the customer group defined in checkout-component.ts file.  -->
                    <div class = "row">
                        <div class = "col-md-2"><label>First Name</label></div>
                        <div class = "col-md-9">
                            <div class = "input-space">
                                <input formControlName = "firstName" type="text">  
                                <!-- firstName corresponds to firstName field defined in checkout-component.ts file inside the customer group. By doing this, we are basically binding these html form fields with the field defined in checkout-component.ts file. We are establishing parallel relationship between groups and field defined in this html file and the ts file. -->



                                <!-- following is the code for validation(it displays error mssage if validation of this field fails) -->
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class = "alert alert-danger mt-1">
                                    <!-- firstName mentioned/used here comes from the getter( get firstName() method) defined in checkout-component.ts -->

                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                        First Name is required
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        First Name must be at least 2 characters long
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <!-- validation -->
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    <!-- lastName mentioned/used here comes from the getter( get lastName() method) defined in checkout-component.ts -->
                                
                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                        Last Name is required
                                    </div>
                                
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name must be at least 2 characters long
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <!-- validation -->
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                                    <!-- email mentioned/used here comes from the getter( get email() method) defined in checkout-component.ts -->
                                
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                
                                    <div *ngIf="email.errors.pattern">
                                        Email must be a valid email format
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <!-- shipping address group -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <!-- corresponds to the shippingAddress group defined in checkout-component.ts file.  -->
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change) = "getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                                </select>

                                <!-- validation -->
                                <div *ngIf="ShippingAddressCountry.invalid && (ShippingAddressCountry.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    <!-- ShippingAddressCountry mentioned/used here comes from the getter( get ShippingAddressCountry() method) defined in checkout-component.ts -->
                                
                                    <div *ngIf="ShippingAddressCountry.errors.required">
                                        Country is required
                                    </div>
                                
                                </div>
                                
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <!-- validation -->
                                <div *ngIf="ShippingAddressStreet.invalid && (ShippingAddressStreet.dirty || ShippingAddressStreet.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="ShippingAddressStreet.errors.required || ShippingAddressStreet.errors.notOnlyWhitespace">
                                        Street is required
                                    </div>
                                
                                    <div *ngIf="ShippingAddressStreet.errors.minlength">
                                        Street must be at least 2 characters long
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <!-- validation -->
                                <div *ngIf="ShippingAddressCity.invalid && (ShippingAddressCity.dirty || ShippingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                
                                    <div *ngIf="ShippingAddressCity.errors.required || ShippingAddressCity.errors.notOnlyWhitespace">
                                        City is required
                                    </div>
                                
                                    <div *ngIf="ShippingAddressCity.errors.minlength">
                                        City must be at least 2 characters long
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let currState of shippingAddressStates" [ngValue] = "currState">{{ currState.name }}</option>
                                </select>

                                <!-- validation -->
                                <div *ngIf="ShippingAddressState.invalid && (ShippingAddressState.dirty || ShippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                
                                    <div *ngIf="ShippingAddressState.errors.required">
                                        State is required
                                    </div>
                                
                                </div>
                            
                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <!-- validation -->
                                <div *ngIf="ShippingAddressZipCode.invalid && (ShippingAddressZipCode.dirty || ShippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                
                                    <div *ngIf="ShippingAddressZipCode.errors.required || ShippingAddressZipCode.errors.notOnlyWhitespace">
                                        ZipCode is required
                                    </div>

                                    <div *ngIf="ShippingAddressZipCode.errors.minlength">
                                        ZipCode must be at least 2 characters long
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <!-- add checkbox to copy shipping address to billing address -->
                <div class = "input-space">
                    <label class = "au-checkbox">
                        <input type = "checkbox" (change) = " copyShippingAddressToBillingAddress($event)">
                        <span class = "au-checkmark"></span>Billing Address same as Shipping Address
                    </label> 
                </div>


                <!-- billing address group -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <!-- corresponds to the billingAddress group defined in checkout-component.ts file.  -->
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                                </select>
                
                                <!-- validation -->
                                <div *ngIf="BillingAddressCountry.invalid && (BillingAddressCountry.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">
                                    <!-- BillingAddressCountry mentioned/used here comes from the getter( get BillingAddressCountry() method) defined in checkout-component.ts -->
                
                                    <div *ngIf="BillingAddressCountry.errors.required">
                                        Country is required
                                    </div>
                
                                </div>
                
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                
                                <!-- validation -->
                                <div *ngIf="BillingAddressStreet.invalid && (BillingAddressStreet.dirty || BillingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                
                                    <div *ngIf="BillingAddressStreet.errors.required || BillingAddressStreet.errors.notOnlyWhitespace">
                                        Street is required
                                    </div>
                
                                    <div *ngIf="BillingAddressStreet.errors.minlength">
                                        Street must be at least 2 characters long
                                    </div>
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                
                                <!-- validation -->
                                <div *ngIf="BillingAddressCity.invalid && (BillingAddressCity.dirty || BillingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                
                                    <div *ngIf="BillingAddressCity.errors.required || BillingAddressCity.errors.notOnlyWhitespace">
                                        City is required
                                    </div>
                
                                    <div *ngIf="BillingAddressCity.errors.minlength">
                                        City must be at least 2 characters long
                                    </div>
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let currState of billingAddressStates" [ngValue]="currState">{{ currState.name }}
                                    </option>
                                </select>
                
                                <!-- validation -->
                                <div *ngIf="BillingAddressState.invalid && (BillingAddressState.dirty || BillingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                
                                    <div *ngIf="BillingAddressState.errors.required">
                                        State is required
                                    </div>
                
                                </div>
                
                            </div>
                        </div>
                
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                
                                <!-- validation -->
                                <div *ngIf="BillingAddressZipCode.invalid && (BillingAddressZipCode.dirty || BillingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                
                                    <div
                                        *ngIf="BillingAddressZipCode.errors.required || BillingAddressZipCode.errors.notOnlyWhitespace">
                                        ZipCode is required
                                    </div>

                                    <div *ngIf="BillingAddressZipCode.errors.minlength">
                                        ZipCode must be at least 2 characters long
                                    </div>
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>

                <!-- credit card group -->
                <!-- Stripe Elements Credit card section -->
                <div formGroupName = "creditCard" class = "form-area">
                    <h3>Credit or Debit Card</h3>
                    <div id = "card-element">
                        <!-- a Stripe element will be inserted/mounted here. -->
                    </div>

                    <!-- Used to display form errors(errors in credit card info) -->
                     <div id = "card-errors" class = "displayError.textContent!=='': 'alert alert-danger mt-1'"></div>

                </div>
                <!-- Review your order section -->
                <div class = "form-area">
                    <h3>Review your Order</h3>
                    <p>Total Quantity : {{ totalQuantity }}</p>
                    <p>Shipping : FREE</p>
                    <p>Total Price : {{ totalPrice | currency : 'USD' }}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info" [disabled]="isDisabled">Pruchase</button> 
                    <!-- since this is a form, do not add (click) = "obSubmitForm" to this button, instead add (ngSubmit) = "onSubmitForm" to form header. Adding (click) = "someFunction" to some button is fine for normal buttons, but it is not preferred with forms. With forms, add the function to be called in form header and add a button just for submit purpose.-->
                </div>

            </form>
        </div>
    </div>
</div>



