<div class = "main-content">
    <div class = "section-content section-content-p30">
        <div class = "container-fluid">
            <div class = "row">
                <!-- loop over collection of products-->
                <div *ngFor = "let tempProduct of products" class = "col-md-3">
                    <div class = "product-box">

                        <a routerLink = "/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h2>{{ tempProduct.name }}</h2>
                            <hr>
                        </a>
                        
                        <div class = "price">{{ tempProduct.unitPrice | currency : 'USD' }}</div>
                        <button (click) = "addToCart(tempProduct)" class = "btn btn-primary btn-sm">Add to cart</button>  
                        <!-- if you ar using a method in product-list-componnt.html, it has to defined in product-list-component.ts file only, ie in ts file of the same component only(hre html file is of product-list component, hence we dfine in product-list-componnt.ts only). -->
                    </div>
                </div>

                <!-- if products array is empty, the display th following messaage -->
                <div *ngIf = "products?.length == 0" class = "alert alert-warning col-md-12" role = "alert">
                    No products found.
                </div>

            </div>

            <!-- pagination component area -->
            <div class = "footer-pagination">
                <div class = "row">
                    <div class="col-md-6"></div>

                    <div class = "col-md-6">
                        <div class = "row">

                            <div class = "col-md-9">

                                <ngb-pagination

                                [(page)] = "thePageNumber"
                                [pageSize] = "thePageSize" 
                                [collectionSize] = "theTotalElements" 
                                [maxSize] = "5"   
                                [boundaryLinks] = "true"
                                (pageChange) = "listProducts()">

                                <!-- proprties on LHS are the ngbootstrap pagination proprties, while properties on RHS are the properties the we have defined in prodict-list-component.ts file.
                                Also, once a different page number is clicked, ie when an attempt to change the page is made, listProducts() method(defined in product-list-component.ts file) is called. -->

                                </ngb-pagination>
                                <!-- [maxSize] attribute - will show a maximum of 5 pages if there are many pages, will hide thje remaining by putting ... between 5th page and
                                last page -->
                                <!-- [boundaryLinks] attribute - allows the user to jump to first/last page directly -->
                            </div>

                            <div  style="text-align : right;">
                                <span class="mr-2 pageSizeField">Page Size</span>
                                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>

                            
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>


